body {
	background: #D8D8D8
}
.fixed-video-list {
	height:400px;
	overflow:auto;
}




.login-form {
	width: 25rem;
	height: 18.75rem;
	position: fixed;
	top: 50%;
	margin-top: -9.375rem;
	left: 50%;
	margin-left: -12.5rem;
	background-color: #ffffff;
	opacity: 0;
	-webkit-transform: scale(.8);
	transform: scale(.8);
}
.feedback-form {
    width: 25rem;
	height: 19.75rem;
	position: fixed;
	top: 50%;
	margin-top: -9.375rem;
	left: 50%;
	margin-left: -12.5rem;
	background-color: #ffffff;
	opacity: 0;
	-webkit-transform: scale(.8);
	transform: scale(.8);
	text-align:center;
}
.upload-form {
	width: 45rem;
	height: 35.75rem;
	position: fixed;
	top: 50%;
	margin-top: -16.375rem;
	left: 20%;
	margin-left: -2.5rem;
	background-color: #ffffff;
	opacity: 0;
	-webkit-transform: scale(.8);
	transform: scale(.8);
	text-align: center;
}
google-signin-status { 
	margin-left: 300 px;
	margin-top: 150 px;
	width:20%;
}
google-plus-friends { 
	max-width: 550px;
	display: none; 
}
google-signin {         
	margin-left: 250px;
	margin-top: 2px;
	margin-right: auto;
	width: 60%;
	padding: 10px;
}

