<div ng-controller = "feedbackCtrl">
	<div class= "feedback-form padding20 block-shadow">
		<form>
			<h1 class="text-light">Feedback</h1>
			<hr class="thin"/>
			<br />

			<div class="input-control select">
				<select id="feedback-type" ng-model = "feedback.type">
					<option value="feedback">Feedback</option>
					<option value="complaint">Complaint</option>
					<option value="report">Bug Report</option>
					<option value="suggestions">Suggestions</option>
				</select>
				<span class="placeholder">Choose feedback type</span>
			</div>
			<br />
			<br />
			<div class="input-control modern text">
				<input type="text" id="feedback-desc" name = "feedback-desc" ng-model = "feedback.desc">
				<span class="label">Description</span>
				<span class="informer">Please enter a description</span>
				<span class="placeholder">Description</span>
			</div>
			<br />
			<br />
			<br />
			<button class="button loading-pulse lighten primary" ng-click = "submitFeedback()">Submit</button>
		</form>

	</div>
</div>