<div ng-controller = "homeCtrl">

    <div class="login-form padding20 block-shadow">
        <form>
            <h1 class="text-light">Login to Lokavidya</h1>
            <hr class="thin"/>
            <br />
            <!--
            <div class="input-control text full-size" data-role="input">
                <label for="user_login">User email:</label>
                <input type="text" name="user_login" id="user_login">
                <button class="button helper-button clear"><span class="mif-cross"></span></button>
            </div>
            <br />
            <br />
            <div class="input-control password full-size" data-role="input">
                <label for="user_password">User password:</label>
                <input type="password" name="user_password" id="user_password">
                <button class="button helper-button reveal"><span class="mif-looks"></span></button>
            </div>
            <br />
            <br />
            <div class="form-actions">
                <button type="submit" class="button primary">Login to...</button>
                <button type="button" class="button link">Cancel</button>
            </div> -->
            <google-signin id="t" align="center" style="margin-top: 25px"
            clientId="1019684307342-5of7vukc91l6qn6tsatp5bki8cmvrl3f.apps.googleusercontent.com"
            scopes="https://picasaweb.google.com/data/ https://www.googleapis.com/auth/plus.login">
        </google-signin>
    </form>
</div>
</div>
