<div ng-controller = "uploadCtrl">
	<div class= "upload-form padding20 block-shadow">
		<form>
			<h1 class="text-light">Upload Project</h1>
			<hr class="thin"/>
			<br />
			<div class="input-control modern text">
				<input type="text" id="tutorial-input" name = "tutorial-input" ng-model = "form.tutorial">
				<span class="label">Tutorial Name</span>
				<span class="informer">Please enter a suitable name</span>
				<span class="placeholder">Tutorial Name</span>
			</div>
			<br />
			<div class="input-control modern text">
				<input type="text" id="language-input" name="language-input" ng-model = "form.language">
				<span class="label">Tutorial language</span>
				<span class="informer">Please enter a suitable language</span>
				<span class="placeholder">Tutorial Langauge</span>
			</div>
			<br />

			<div class="input-control modern text">
				<input type="text" id="keyword-input" name="keyword-input" ng-model = "form.keyword">
				<span class="label">Keywords</span>
				<span class="informer">Please enter the keywords</span>
				<span class="placeholder">Keywords</span>
			</div>
			<br />
			<div class="input-control modern text">
				<input type="text" id="description-input" name="description-input" ng-model = "form.description">
				<span class="label">Description</span>
				<span class="informer">Please enter a description</span>
				<span class="placeholder">Description</span>
			</div>
			<br />
			<br />
			<div class="input-control select" >
				<select ng-options="x for x in category_names" id="category-input" ng-model = "form.category" ng-init = "form.category">
				</select>
				<span class="placeholder">Choose a category</span>
			</div>
			<br />
			<br />
			<div class="input-control file" data-role="input">
			<input type="file" tabindex="-1" style="z-index: 0; width: 130px;"><input type="text" placeholder="Choose file" class="input-file-wrapper" readonly="" style="z-index: 1; cursor: default;">
				<button class="button" type="button"><img src="bower_components/metro/docs/images/Blank_Folder.png"></button>
			</div> 
			<br />
			<br />
			<br />

			<button class="button loading-pulse lighten primary" ng-click = "uploadProject()">Upload</button>
		</form>
	</div>
</div>