<div ng-controller = "viewCtrl">
	<div style="width:100%; margin-top:15px">
		<div style="width: 30%; margin-top: 30px; float:left; margin-left:400px">
			<iframe id="video-view" frameborder="0" allowfullscreen=""></iframe>
		</div>
		<div class="fixed-video-list" style="width:30%; float:right; height: 250px;  border: 5px solid #0072c6; background-color: #0072c6">
			<span class="tile-group-title" style="color: #ffffff;">Related Videos</span>
			<div class="tile-container" >
				<ul style="list-style-type: none; padding:0; margin:0;">
					<li ng-repeat="dataRelated in related">
						<div class="tile" ng-click = "videoSelect(dataRelated.link, dataRelated.id)">
							<div class="tile-content">
								<div class="video-container">
									<!--	<iframe src="https://www.youtube.com/embed/QNu5zwqUi98?controls=0&amp;showinfo=0" frameborder="0" allowfullscreen=""></iframe>  -->
									<span class="tile-label" >{{ dataRelated.name }}</span>
								</div>
							</div>
						</div>
					</li>       
				</ul>
			</div>
		</div>
	</div>

	<div class="fixed-video-list" style="width:100%;  clear: both; margin-top: 500px; ">
		<span>All Videos</span>
		<div class="tile-container" >
			<ul style="list-style-type: none; padding:0; margin:0;">
				<li ng-repeat="data in arr">
					<div class="tile" ng-click = "videoSelect(data.link, data.id)">
						<div class="tile-content">
							
								<!--	<iframe src="https://www.youtube.com/embed/QNu5zwqUi98?controls=0&amp;showinfo=0" frameborder="0" allowfullscreen=""></iframe>  -->
								<span class="tile-label" >{{ data.name }}</span>
						
						</div>
					</div>
				</li>       
			</ul>
		</div>

	</div>
</div>